/* ROOT */
@import url("./root.css");

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-primary);
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
}

/* BACKGROUND */
.background {
    background: linear-gradient(var(--background-primary) 0%, transparent 100%);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10rem;

    height: 100%;
    width: 100%;

    padding: 7.6rem 12rem;
}

/* MAIN */
#main-container {
    width: 60.8rem;
}

header {
    margin-bottom: 7.6rem;
}

.main-subtitle {
    background: var(--gradient-content);
    -webkit-background-clip: text;

    font: var(--overline);
    color: transparent;

    margin-bottom: 1.2rem;
}

.main-title {
    font: var(--display-lg);
    color: var(--content-primary);

    margin-bottom: 3.8rem;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.question-text {
    display: flex;
    gap: 0.6rem;
    align-items: center;

    font: var(--paragraph-md);
    color: var(--content-brand);
}

.question-text::before {
    content: url("../assets/dialog.svg");
}

.answer {
    font: var(--paragraph-sm);
    color: var(--content-secondary);

    width: 38.6rem;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.visible {
    display: block;
}

form.invisible {
    display: none;
}

.form-title,
.result-title {
    font: var(--label-md);
    color: var(--content-primary);
}

.form-instruction,
.result-number {
    font: var(--paragraph-lg);
    color: var(--content-secondary);
}

.form-instruction {
    margin-bottom: 4rem;
}

fieldset {
    display: flex;
    gap: 1.2rem;

    width: 48.2rem;

    border: none;
}

.number-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

fieldset label {
    font: var(--label-md);
    color: var(--content-secondary);

    margin-bottom: 0.2rem;
}

fieldset input {
    background: var(--background-secondary);
    background-clip: padding-box;

    font: var();
    color: var(--content-primary);

    width: 10rem;
    height: 5.6rem;

    border-radius: 12px;
    border: 2px solid transparent;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    transition: 500ms;
}

fieldset input:hover,
fieldset input:focus {
    background-image: linear-gradient(
            var(--background-tertiary),
            var(--background-tertiary)
        ),
        var(--gradient-border);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border: 2px solid transparent;

    outline: none;
}

fieldset input:hover + .label,
fieldset input:focus + .label {
    color: transparent;
}

fieldset label:hover {
    color: var(--content-brand);
}

.repeat {
    display: flex;
    align-items: center;

    margin-bottom: 4rem;
}

.repeat span {
    font: var(--label-sm);
    font-weight: 100;
    color: var(--content-primary);

    margin-left: 1rem;
}

#repeat-number {
    display: none;
}

.switch {
    background-color: var(--background-gray);

    display: flex;
    align-items: center;

    height: 3rem;
    width: 5rem;

    padding: 0.3rem;

    border-radius: 4rem;

    cursor: pointer;

    transition: all 500ms ease-in-out;

    position: relative;
}

.switch .slider {
    background-color: var(--content-primary);

    height: 2.5rem;
    width: 2.5rem;

    margin: 0;

    border-radius: 50%;

    transition: all 250ms ease-in-out;

    position: absolute;
}

#repeat-number:checked ~ .switch {
    background-color: var(--content-brand);
}

#repeat-number:checked ~ .switch .slider {
    transform: translateX(1.9rem);
}

.submit-button,
.draw-again-button {
    background-color: var(--background-tertiary);

    font: var(--label-md);
    color: var(--content-primary);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;

    padding: 12px 32px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.3s ease;

    position: relative;
}

.submit-button::after,
.draw-again-button::after {
    background: var(--gradient-border);

    content: "";

    border-radius: 10px;

    z-index: -1;
    opacity: 0;

    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    transition: opacity 0.3s ease;
}

.submit-button:hover::after,
.draw-again-button:hover::after {
    opacity: 1;
}

.submit-button:hover,
.draw-again-button:hover {
    background-color: var(--background-secondary);
    border: none;
}

.submit-button:hover img {
    animation: fowardAndBackward 500ms alternate 2 both;
}

@keyframes fowardAndBackward {
    100% {
        transform: translateX(1rem);
    }
}

.draw-again-button:hover img {
    animation: rotateIcon 500ms ease-out;
}

@keyframes rotateIcon {
    100% {
        transform: rotate(360deg);
    }
}

.result {
    width: 100%;
}

.result.visible {
    display: block;
}

.result.invisible {
    display: none;
}

.result .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.result-container {
    background-color: var(--background-brand);

    font: var(--display-md);
    color: var(--content-inverse);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 7rem;
    width: 7rem;

    margin: 6rem 0;

    border-radius: 2rem;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: showResult 3s forwards;
}

@keyframes showResult {
    0% {
        transform: rotate(0deg);
    }

    90% {
        background-color: var(--background-brand);

        color: var(--content-inverse);
    }

    100% {
        background-color: transparent;

        color: var(--content-brand);

        transform: rotate(720deg);
    }
}

.result-item {
    opacity: 0;

    animation: resultAppear 3s 1s forwards;
}

@keyframes resultAppear {
    100% {
        opacity: 1;
    }
}
